
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  
}
.light-app{
  background-color: white;
}
.dark-app{
  background-color: rgb(12, 12, 12);
}
body{
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 7px;
      }
    &::-webkit-scrollbar-track {
        background: #cfcfcf; 
      }
      &::-webkit-scrollbar-thumb {
        background: #a5a5a5; 
      }
      &::-webkit-scrollbar-thumb:hover {
        background: rgb(124, 123, 123); 
      }
}

